<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCo8VmxPalBK9wCY9B0ho_6YCzqC5mS28</string>
	<key>GCM_SENDER_ID</key>
	<string>1013327800337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harmonia</string>
	<key>PROJECT_ID</key>
	<string>harmonia-31e51</string>
	<key>STORAGE_BUCKET</key>
	<string>harmonia-31e51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013327800337:ios:9a7a2f6c6922352b0fa9b0</string>
</dict>
</plist>